@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
  color: #0f172a;
  background-color: #f8fafc;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
}
